
alias m="mvim --remote-silent"
alias vms="vm --remote-silent"
# macvim in terminal
alias vim='mvim -v'

# work directories
alias cdn="cd /Volumes/ContentImages/CDNRepository/"
alias dpcss="cd /Volumes/ContentImages/CDNRepository/css/DP/story"
alias dpjs="cd /Volumes/ContentImages/CDNRepository/JS/DP/story" 
alias dpimages="cd /Volumes/ContentImages/CDNRepository/Images/DP/story" 
alias dp="cd /Volumes/design\ group/20\ Web\ Center/01\ NewWeb/100\ CMS/19_Detail_Page/stories/"
alias 500="cd /Volumes/public/DesignGroup/500\ Web\ Marketing/"
alias melahome="cd ~/Documents/projects/melaleuca.com/"
alias felib="cd ~/Documents/projects/DEP-Phase1/fe-library/"
alias melatree="cd /Users/us16777/Documents/projects/NSE-worktrees"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias back='cd $OLDPWD'
alias lf="ls -p | '/'"
alias ll="ls -l"
alias la="ls -a"
alias lal="ls -al"
alias accounts="cat ~/Documents/test_account_ids.txt"

# quickly see snippets
alias sn-html="less ~/dotfiles/vim/bundle/vim-snippets/UltiSnips/html.snippets"
alias sn-css="less ~/dotfiles/vim/bundle/vim-snippets/UltiSnips/css.snippets"
alias sn-scss="less ~/dotfiles/vim/bundle/vim-snippets/UltiSnips/scss.snippets"
alias sn-js="less ~/dotfiles/vim/bundle/vim-snippets/UltiSnips/javascript.snippets"
alias sn-jsjq="less ~/dotfiles/vim/bundle/vim-snippets/UltiSnips/javascript-jquery.snippets"
alias sn-jsnode="less ~/dotfiles/vim/bundle/vim-snippets/UltiSnips/javascript.node.snippets"

alias utility="less /Volumes/public/DesignGroup/500\ Web\ Marketing/Design\ and\ Front-end/front-end/global-scss/_utility.scss"

# see directory structures
alias treeit="tree -I 'node_modules|.git' -Ca | less -R"

# see idaho falls weather
alias if-weather="curl -4 http://wttr.in/Idaho_Falls"


# run gulp commands for project
alias gwatch='gulp watch --path `find . -type d | rg node_modules -v | fzf`'
alias gstyles='gulp styles --path `find . -type d | rg node_modules -v | fzf`'
alias gscripts='gulp scripts --path `find . -type d | rg node_modules -v | fzf`'


alias fcd='cd `find . -type d | rg node_modules -v | fzf`'
alias mcd='cd `find ~/Documents/projects/melaleuca.com -type d | rg node_modules -v | fzf`'

# create weekly ops notes document
alias createNotes="echo  'ops meeting notes:\n=========\n\nworking on currently\n-------\n\n\n\nTO DO:\n-------\n\n' > $(date '+%Y%m%d').txt && nvim $(date '+%Y%m%d').txt"

#git aliases
# from csswizardry.com
alias grecent="git for-each-ref --count=10 --sort=-committerdate refs/heads/ --format='%(refname:short)'"
alias grecap="git log --all --format=medium --no-merges --author=tbarber@melaleuca.com"
alias gwl="git worktree list"
alias gwr='git worktree remove "$(git worktree list | fzf | grep -Eo "^[^ ]+")"'
alias gwrf='git worktree remove "$(git worktree list | fzf | grep -Eo "^[^ ]+")" --force'
alias gdb='git branch -d "$(git branch | fzf | tr -d "+ ")"'
alias gDb='git branch -D "$(git branch | fzf | tr -d "+ ")"'

# see local development servers running for patternlab
alias showservers="ps -ef | grep '\-\-env.development'"

# tmux aliases
alias tks='tmux kill-session -t "$(tmux ls | fzf | grep -Eo "^[^: ]+")"'
alias tss='tmux switch-client -t $(tmux ls | fzf | grep -Eo "^.+: " | tr -d ": ")'

#npm aliases
alias nrsp='npm run start:productstore'
alias nrsm='npm run start:marketplace'
alias nrsc='npm run start:common'
alias nrsr='npm run start:riverbend'

#python
alias python='python3'

alias copyrb ="cat vendor.js brands-prod.js index.js > bundle.js && mv bundle.js ../../../riverbend/public/js/."
